.container {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    background-color: black;
}


.card {
    max-width: 200px;
    min-height: 300px;
    background-color: cornflowerblue;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
}

.btn {
    position: absolute;
    justify-content: center;
    bottom: 10px;
    width: 90px;
    height: 40px;
    border: none;
    background-color: rgb(238, 238, 79);
}

.btn--success {
   background-color: rgb(5, 197, 5);
}

.btn--decline {
    background-color: rgb(241, 35, 35);

}